includes:
    - phpstan-baseline.neon

parameters:
    level: 2
    paths:
        - src
        - config
    tmpDir: build/phpstan
    excludePaths:
        - ./vendor
    checkMissingIterableValueType: true
