parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 5
			path: config/config.php

		-
			message: '#^Consider using bind method instead or pass a closure\.$#'
			identifier: larastan.octaneCompatibility
			count: 2
			path: src/AirtableServiceProvider.php
